@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.navigation {
    width: 100%;
    background-color: black;
}

.button img {
    width: 25px;
    border-radius: 50px;
    float: left;
}

.logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;

}

.button {
    text-decoration: none;
    float: right;
    padding: 12px;
    margin: 15px;
    color: white;
    width: 25px;
    background-color: black;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden
}

a:hover {
    width: 100px;
}

a:hover .logout{
    opacity: .9;
}

a {
    text-decoration: none;
}

.comment-form{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-grow: 1;
}

.comment-form textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border:1px solid #CCC;
    margin-right: 10px;
    max-height: 70px;
}


.comment-form button{
    background-color: cornflowerblue;
    color: #dfdfdf;
    border: none;
    padding: 5px;
    border-radius: 2px;
}

#comments{
    width: 1056px;
    margin: auto;
}

.googleAuth-warp{
    width: 1056px;
    margin: auto;
}

.comment-main-warp{
    display: flex;
}

.comment-author{
    font-weight: bold;
    margin: 10px;
}

.comment-text{
    margin: 10px;
    padding-left: 10px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.no-btn{
    border: none;
    background: transparent;
}

.comment-picture{
    margin: 20px;
}

.comment-picture img{
    height: 70px;
    border-radius: 50%;
}



.comment-response{
   background-color: cornflowerblue;
    color: #dfdfdf;
    border: none;
    padding: 5px;
    border-radius: 2px;
}

.btn:hover{
   color: #fff;
}

.comment-content-warp{
    width: 800px;
}

.comment-avatar{
    border-radius: 50%;
    margin: 10px;
}